# tests/requirements.txt

# Core testing library
pytest==8.2.2
pytest-cov==5.0.0
pytest-dependency==0.6.0
openpyxl==3.1.5

# Plugin for running asyncio tests
pytest-asyncio

# HTTP client for testing APIs
requests==2.32.4
httpx

# Database drivers (sync and async)
psycopg2-binary==2.9.10
asyncpg==0.29.0

# Environment variable management
python-dotenv==1.0.1

# Docker testcontainers for E2E and integration tests
testcontainers[kafka,postgres]==4.5.0
